body {
  font-family: "Tajawal", sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background: #8b0000;
  text-align: center;
  padding: 15px 0;
}

.header .logo img {
  max-width: 120px;
}

/* ------------------------ carousel */
section .container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  position: relative;
  width: 80%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b22222;
  color: white;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-btn:hover {
  background: #b22222;
}

.prev {
  right: 100%;
  margin-right: 10px;
}

.next {
  left: 100%;
  margin-left: 10px;
}

.counter {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: #b22222;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.order-btn {
  display: inline-block;
  margin-top: 15px;
  background: #b22222;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.order-btn:hover {
  background: #b22222;
}

/* Footer */
footer {
  margin-top: 40px;
}

footer .links a {
  font-size: 22px;
  transition: 0.3s;
}

footer .links a:hover {
  color: #ffcc00;
}
